<!DOCTYPE html>
<head>
  <meta charset=utf-8/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Sebastian Galvis</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  
  <div ng-app="myApp" ng-controller="myCtrl"">
    <div class="container-fluid">
      <br>
      
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="panel panel-success">
            <div class="panel-body">
              
              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  <h1 class="text-success text-center">Sebastian Galvis</h1>
                </div>
                <div class="col-sm-1"></div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  <blockquote>
                    <p><strong>Como</strong> usuario</p>
                    <p><strong>Quiero</strong> un programa que reciba dos numeros enteros en ingles, los sume y devuelva el resultado</p>
                    <p><strong>Para</strong> practicar mis operaciones</p>
                    <br>
                    <p> - El programa recibe los numeros en ingles, por ejemplo: "one", "two", "ten", etc.</p>
                    <p> - Si hay un numero invalido se debe retornar "zero"</p>
                  </blockquote>
                </div>
                <div class="col-sm-1"></div>
              </div>

              <div class="row">
                <div class="form-group">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-5">
                    <label class="label label-success" for="FString">Primer Numero:</label>
                    <input type="text" class="form-control" id="FString" ng-model="firstString">
                  </div>
                  <div class="col-sm-5">      
                    <label class="label label-success" for="SString">Segundo Numero:</label>
                    <input type="text" class="form-control" id="SString" ng-model="secondString">
                  </div>
                  <div class="col-sm-1" ></div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6 text-center">
                  <kbd> Result: {{result()}} </kbd>
                </div>
                <div class="col-sm-3"></div>
              </div>
              <br>

            </div>
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

    </div>
  </div>
  
  <script src="Controller.js"></script>
</body>
</html>

